@import "colours";

@mixin button($color: $highlightPink, $background: transparent, $hovertext: #fff, $font-size: 12px) {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid;
  padding: 5px 15px 6px;
  font-size: $font-size;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border-color: $color;
  color: $color;
  font-family: $brown-regular;
  line-height: $bootstrapLineheight;
  background-color: $background;
  &:hover,
  &:focus,
  &.depressed {
    background-color: $color;
    color: $hovertext;
  }
}
