$brandGrey: rgb(108,122,135); 
$darkGrey: rgb(45,54,63);
$paleGrey: rgb(203,205,205);
$brandYellow: rgb(255,255,0);
$highlightBlue: rgb(0,204,255);
$highlightGreen: rgb(0,238,160);
$highlightPink: rgb(236,117,149);
$highlightYellow: rgb(255,255,0);
$logoGold: #c0a880;
$edgeBlue: #73a0e3;

//New Cambridge Grey
$headerGrey: #56565a;

// product colours
$product_blue: #2d4466;
$product_slate: #1b2b3a;
$product_grey: #c8c8c8;
$product_teal: #279a95;
$product_light_grey: #c8c8c8;
$product_dark_grey: #55595c; // before #253746
$product_green: #279a95;
$product_black: #333;
$product_white: #fff;
$product_gold: #c0ab99;
$product_red: #e02852;
$product_silver: #d0d3d5;
$product_dark_walnut: #cab3a0;
$product_titanium: #7c8184;
$greyBlue: #88a3b8;

// primary colours for dylan
$primaryBlue: #88a3b8;

// links
$link: #0074D9; // or #2d6da3
$visited: #b12c93;